<form action="/post-email" method="post">
    Email người gửi: <input type="email" name="emailgui" class="form-control" placeholder="nhập email">
    Email người nhận: <input type="email" name="emailnhan" class="form-control" placeholder="nhập email">
    subject: <input type="text" name="chude" class="form-control" placeholder="nhập chủ đề">
    Nội Dung: <textarea name="noidung" id="" cols="30" rows="10" class="form-control"></textarea>
    <button type="submit" class="btn btn-success mt-2">gửi email</button>
</form>