<header>
    <div class="bg-dark text-white container">
        <div class="row py-4">
            <div class="col-md-8">
                <div class="logo">
                    Logo
                </div>
            </div>
            <div class="col-md-4">
                <div class="secure">
                    <a href="" class="text-white mx-2">đăng ký</a>
                    <a href="" class="text-white mx-2">đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</header>